@model FinalProject.Models.Department

@{
    ViewData["Title"] = "Create";
}

<div class="row align-items-center align-content-between welcome-box m-5">
    <div class="col print-off">
        <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #5500bd;"></i></a>
    </div>
    <div class="col-11">
        <h1>Create Departments</h1>
    </div>
</div>
<div class="container-fluid card shadow w-50">
    <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <label asp-for="Name" class="control-label" style="font-size: 20px;"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
