@model FinalProject.Models.Department

@{
    ViewData["Title"] = "Delete";
}
<style>
    .table-responsive {
        margin-top: 20px;
    }

    table.table {
        border-collapse: collapse;
        width: 100%;
    }

        table.table th,
        table.table td {
            border: 1px solid #f8f8f8;
            padding: 8px;
            color:#000
        }

        table.table th {
            background-color: #1b2850;
            color:#fff
        }

        table.table tr:nth-child(even) {
            background-color: #f8f8f8;
        }

        table.table tr:hover {
            background-color: #ececec;
        }

</style>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Employees</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Employees.Count()</td>
            </tr>
        </tbody>

    </table>
</div>


<div class="container-fluid card shadow w-50 p-5" style="margin:30px auto">
    <h3>Are you sure you want to delete @Model.Name department?</h3>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-submit me-2" />
        <a asp-controller="Department" asp-action="Index" class="btn btn-cancel">Cancel</a>

    </form>
</div>
