
<body class="error-page">


<div class="main-wrapper">
<div class="error-box">
<h1>403</h1>
<h3 class="h2 mb-3"><i class="fas fa-exclamation-circle"></i> Oops! Something went wrong</h3>
<p class="h4 font-weight-normal">You Cannot Access This Page</p>
<p class="h4 font-weight-normal">Contact Your Admin If You Suppose to </p>
<a asp-action="Dashboard" asp-controller="Profile" class="btn btn-primary">Back to Dashboard</a>
</div>
</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/feather.min.js"></script>

<script src="assets/js/jquery.slimscroll.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
