@model EmployeeDashboardVM
<div class="card p-3">
	<div class="card-header">
        <h5 class="card-title ">
            <span class="text-warning">Work Hours </span> / @DateTime.Now.AddMonths(-1).ToString("MMMM")
        </h5>
	</div>

	<canvas id="myChart"></canvas>
</div>


<script>
	const ctx = document.getElementById('myChart');

	new Chart(ctx, {
		type: 'line',
		data: {
			labels: @Html.Raw(Model.ChartLabels) ,
			datasets: [{
				label: '# of Hours',
				data: @Html.Raw(Model.ChartValues),
				borderWidth: 1,
				borderColor: 'orange',
			}]
		},
		options: {

		}
	});
</script>