@* @model FinalProject.ViewModels.OfficialVacation
 *@
@model FinalProject.ViewModels.OfficialVacationViewModel
<h1>Add New Official Vacation</h1>



<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            <input asp-for="Date" type="date" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>