@using FinalProject.Utilities;
@model FinalProject.ViewModels.SettingViewModel

@{
    ViewData["Title"] = "Index";
}
@* @{

    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowGeneralSetting = permissions.HasPermission("GeneralSetting", Operation.Show);
    var canUpdateGeneralSetting = permissions.HasPermission("GeneralSetting", Operation.Update);

}  *@

<h1>Index</h1>


<form method="post" asp-action="Save">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Extra
                </th>
                <th>
                    Discount
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input asp-for="Extra" class="form-control" />
                </td>
                <td>
                    <input asp-for="Discount" class="form-control" />
                </td>

            </tr>
        </tbody>
    </table>
    <p>
        Week Holiday
    </p>
    @for (int i = 0; i < Model.DayChecked.Count(); i++)
    {
        <label class="list-group-item text-black">
            <input class="form-check-input me-1" type="hidden" asp-for="@Model.DayChecked[i].Day" />
            <input class="form-check-input me-1" asp-for="@Model.DayChecked[i].Checked" />
            @Model.DayChecked[i].Day
        </label>
    }


    <button type="submit" class="btn btn-primary">Save</button>


    <a class="btn btn-outline-danger" asp-action="Index"> <i class="bi bi-x-circle"></i> Cancel</a>



</form>



