@model AppRole

<h1>Delete Role</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <button type="submit" class="btn btn-danger">Delete Role</button>
</form>