@model FinalProject.Models.Vacation
@using FinalProject.Models
@using FinalProject.RepoServices
@inject IVacationRepository VacationRepo

@{
    ViewData["Title"] = "Request a vacation";
}
<div class="page-header">
    <div class="page-title">
        <h4>Request A Vacation</h4>
    </div>
</div>
<form asp-action="Create" >
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>End Date</label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Type</label>
                        <select asp-for="VacationType" asp-items="@Html.GetEnumSelectList<VacationTypes>()" class="form-control">
                            <option selected disabled value="">Choose A Type</option>
                        </select>
                        <span asp-validation-for="VacationType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Request" class="btn btn-primary" />
                    <a asp-action="MyVacations" type="submit" class="btn btn-dark">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

