html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.print-on{
    display : none;
}
@media print {
    .print-off {
        display: none;
    }
}
@media print {
    .print-on {
        display: block;
    }
}

