@model AppUser

@{
    ViewData["Title"] = "User Delete";
}

<h1>User Details</h1>

<h1>Delete User</h1>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
   

    <input type="submit" value="Delete" asp-action="@Model.AppId" class="btn btn-danger" />
</form>
