@model AppUser
@using FinalProject.Utilities

@{
    ViewData["Title"] = "User Details";
}
@{
    var permissions = Context.Items["Permissions"] as List<Permission>;
  
    var canUpdateUser = permissions.HasPermission("AppUser", Operation.Update); 
 
}

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h3>User details</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th>Username</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>

                                <td>@Model.UserName</td>
                                <td>@Model.Email</td>
                                <td>@Model.Employee.Password</td>
                            <td>
                                @ViewData["RoleName"]
                            </td>
                            </tr>
                        
                    </tbody>
                    
                </table>
                <br />
                
                <div class="col-lg-12">
                    <a asp-controller="AppUser" asp-action="Index" class="btn btn-cancel">Back</a>
                </div>
            </div>
        </div>
    </div>
    

</div>
